<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shirk</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/vendor/semantic-ui/javascript/semantic.min.js"></script>

    <link rel='stylesheet' href='/vendor/semantic-ui/css/semantic.min.css' />
    <link rel='stylesheet' href='/css/main.css' />

    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/main-client.js"></script>
    <script type="text/javascript" src="/js/main-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>

    <header>
      <div class="ui two column grid middle aligned">
        <!-- Shirk Logo -->
        <div class="column left aligned">
          <h1 id="logo" class="ui header">Shirk</h1>
        </div>
        <div class="column right aligned">
          <!-- Username -->
          <span><%= username %>&nbsp;&nbsp;</span>
          <!-- Logout Button -->
          <div id="logout" class="ui button small inverted red">
            <span>
              <i class="ui icon sign out"></i>
            </span>
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="main-content">
      <div class="ui two column grid listing">

        <!-- Lists - Left Column -->
        <div id="col-left" class="column listing">
          <div class="ui raised segment listing">
            <!-- Title -->
            <div class="ui ribbon teal label">
              <i class="ui icon list"></i>
              Lists
            </div>
            <div id="list_lists" class="ui celled selection list">
              <!-- "List" Items Appended Here -->
            </div>
          </div>
        </div>

        <!-- Tasks - Right Column -->
        <div id="col-right" class="column listing">
          <div class="ui piled segment listing">

            <div class="ui three column grid middle aligned">
              <!-- Title -->
              <div class="column left aligned no-margin">
                <div class="ui ribbon teal label">
                  <i class="ui icon checked checkbox"></i>
                  Tasks
                </div>
              </div>

              <!-- List Title -->
              <div class="column center aligned ui action input no-margin">
                <input id="task-list-title-input" type="text" placeholder="List Title">
                <div class="ui icon button"><i class="save icon"></i></div>
              </div>

              <!-- Task Add Button -->
              <div class="column right aligned no-margin">
                <div id="add-task" class="ui button tiny inverted blue">
                  <span>
                    <i class="ui icon add"></i>
                  </span>
                </div>
              </div>
            </div>

            <!-- Message -->
            <div id="message-box" class="ui icon message">
              <i class="checkmark icon"></i>
                <div class="content">
                  <div class="header" id="message-title"></div>
                  <p id="message-text"></p>
                </div>
            </div>

            <div id="list_tasks" class="ui divided list">
              <!-- "Task" Items Appended Here -->
            </div>
          </div>
        </div>

      </div>
      </div>
    </main>


  </body>
</html>