<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shirk</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/vendor/semantic-ui/javascript/semantic.min.js"></script>
    <script type="text/javascript" src="/vendor/moment.js"></script>
    <script type="text/javascript" src="/vendor/handlebars.runtime.js"></script>

    <link rel='stylesheet' href='/vendor/semantic-ui/css/semantic.min.css' />
    <link rel='stylesheet' href='/css/main.css' />

    <script type="text/javascript" src="/js/templates.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/main-client.js"></script>
    <script type="text/javascript" src="/js/main-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>

    <header>
      <div class="ui two column grid middle aligned">
        <!-- Shirk Logo -->
        <div class="column left aligned">
          <h1 id="logo" class="ui header">Shirk</h1>
        </div>
        <div class="column right aligned">
          <!-- Username -->
          <span><%= username %>&nbsp;&nbsp;</span>
          <!-- Logout Button -->
          <div id="logout" class="ui button small inverted red">
            <span>
              <i class="ui icon sign out"></i>
            </span>
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="main-content">
      <div class="ui two column grid no-margin full-height">

        <!-- Lists - Left Column -->
        <div id="col-left" class="column autoscroll no-margin full-height">
          <div class="ui raised segment no-margin full-height-min">
            <!-- `Filters` Label -->
            <div class="ui ribbon teal label">
              <i class="ui icon list"></i>
              Filters
            </div>
            <div id="list_filters" class="ui celled animated selection list">
              <!-- Filters -->
              <div id="filter_shirked" class="item item_filter">
                <i class="icon warning"></i>
                <div class="content">
                  <div class="header">Shirked</div>
                </div>
              </div>
              <div id="filter_today" class="item item_filter">
                <i class="icon bullseye"></i>
                <div class="content">
                  <div class="header">Today</div>
                </div>
              </div>
              <div id="filter_next7" class="item item_filter">
                <i class="icon time"></i>
                <div class="content">
                  <div class="header">Next 7 Days</div>
                </div>
              </div>
              <div id="filter_next30" class="item item_filter">
                <i class="icon time"></i>
                <div class="content">
                  <div class="header">Next 30 Days</div>
                </div>
              </div>
              <div id="filter_completed" class="item item_filter">
                <i class="icon checked checkbox"></i>
                <div class="content">
                  <div class="header">Completed</div>
                </div>
              </div>
            </div>
            <div class="ui two column grid middle aligned">
              <!-- `Lists` Label -->
              <div class="column left aligned">
                <div class="ui ribbon teal label">
                  <i class="ui icon list"></i>
                  Lists
                </div>
              </div>
              <div class="column right aligned">
                <div id="add-list" class="ui button tiny inverted blue popup-button" data-html="
                    <div class='ui form'>
                      <div class='ui action input'>
                        <input id='new-list-title' type='text' placeholder='List Title'>
                        <div id='new-list-save' class='ui icon button'><i class='save icon'></i></div>
                      </div>
                    </div>
                  ">
                  <span>
                    <i class="ui icon add"></i>
                  </span>
                </div>

              </div>
            </div>
            <div id="list_lists" class="ui celled selection list">
              <!-- "List" Items Appended Here -->
            </div>
          </div>
        </div>

        <!-- Tasks - Right Column -->
        <div id="col-right" class="column autoscroll no-margin full-height">
          <div class="ui piled segment no-margin full-height-min">

            <div class="ui column grid middle aligned">
              <div class="row">

                <!-- `Tasks` Label -->
                <div class="five wide column left aligned no-margin">
                  <div class="ui ribbon teal label">
                    <i class="ui icon checked checkbox"></i>
                    Tasks
                  </div>
                </div>

                <!-- List Title -->
                <div class="eight wide column center aligned no-margin">
                  <div id="task-list-title" class="ui action input list_header">
                    <input id="task-list-title-input" type="text" placeholder="List Title">
                    <div id="list-title-save" class="ui icon button"><i class="save icon"></i></div>
                  </div>
                </div>

                <!-- Task Add Button -->
                <div class="three wide column right aligned no-margin">
                  <div id="add-task" class="ui button tiny inverted blue list_header" data-html="
                    <div class='ui form'>
                      <div class='ui action input'>
                        <input id='new-task-title' type='text' placeholder='Task Title'>
                      </div>
                      <div class='ui action input'>
                        <textarea id='new-task-notes' type='text' placeholder='Notes about this task'></textarea>
                      </div>
                      <div class='ui action input'>
                        <input id='new-task-deadline' type='text' placeholder='Deadline (MM/DD/YYYY)'>
                      </div>
                      <div class='ui action input'>
                        Priority:
                        <div id='new-task-priority' class='ui icon buttons'>
                          <div id='high-priority' class='ui button create-priority-button'>
                            <i class='icon up'></i>
                          </div>
                          <div id='neutral-priority' class='ui active button create-priority-button'>
                            <i class='icon circle blank'></i>
                          </div>
                          <div id='low-priority' class='ui button create-priority-button'>
                            <i class='icon down'></i>
                          </div>
                        </div>
                      </div>
                      <div id='new-task-save' class='ui icon button'><i class='save icon'></i></div>
                    </div>
                  ">
                    <span>
                      <i class="ui icon add"></i>
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <!-- Message -->
            <div id="message-box" class="ui icon message">
              <i class="checkmark icon"></i>
                <div class="content">
                  <div class="header" id="message-title"></div>
                  <p id="message-text"></p>
                </div>
            </div>

            <div id="list_tasks" class="ui divided list">
              <!-- "Task" Items Appended Here -->
            </div>
          </div>
        </div>

      </div>
      </div>
    </main>
  </body>
</html>