<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shirk - Main</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/vendor/semantic-ui/javascript/semantic.min.js"></script>
    <link rel='stylesheet' href='/vendor/semantic-ui/css/semantic.min.css' />
    <link rel='stylesheet' href='/css/login.css' />
    <script type="text/javascript" src="/js/main-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <h1>Shirk</h1>
    <h2>Main</h2>
    <p>Rendered with page.</p>
  </body>
</html>