<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shirk - Main</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/vendor/semantic-ui/javascript/semantic.min.js"></script>

    <link rel='stylesheet' href='/vendor/semantic-ui/css/semantic.min.css' />
    <link rel='stylesheet' href='/css/login.css' />

    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/main-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>

    <header>
      <div class="ui two column grid middle aligned">
        <!-- Shirk Logo -->
        <div class="column left aligned">
          <h1 id="shirk-logo" class="ui header">Shirk</h1>
        </div>
        <!-- Logout Button -->
        <div class="column right aligned">
          <div id="logout" class="ui button">
            <span>
              <i class="ui icon sign out"></i>
            </span>
          </button>
        </div>
      </div>
    </header>

    <div class="ui two column grid">
      <!-- Lists -->
      <div class="column left aligned">
        <div class="ui segment">
          <!-- Title -->
          <div class="ui ribbon teal label">
            <i class="ui icon list"></i>
            Lists
          </div>
          <div id="lists" class="ui divided selection list">
            <!-- Lists -->
            <div class="item">
              <div class="content">
                <div class="header">Hello</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Hello</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Hello</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Hello</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">Hello</div>
              </div>
            </div>
          </div>
        </div>
          <!-- Add/Remove Button -->
          <div class="ui icon buttons">
            <div class="ui button" id="list_add">
              <i class="icon add sign box green"></i>
            </div>
            <div class="ui button" id="list_remove">
              <i class="icon minus sign alternate red"></i>
            </div>
          </div>
      </div>
    </div>


  </body>
</html>