/* LAYOUT */
html, body{
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;

  background-color: #555;
  padding-left: 20px;
  padding-right: 20px;
  color: lightgrey;
}

main {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  bottom: 0;

  width: 750px;
  margin: 20px auto;
  padding: 0 20px;
}

div.main-content {
  height: 100%;
  width: 100%;
}

#seg-left {
  overflow-y: auto;
}

h1#logo {
  font-size: 1.5em;
}

.no-margin {
  margin: 0 !important;
}

.full-height {
  height: 100% !important;
}

.full-height-min {
  min-height: 100% !important;
}

.autoscroll {
  overflow: auto;
}

#col-left {
  width: 40% !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#col-right {
  width: 60% !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon.square {
    border-radius: .5em;
}

/* TASKS */

#task-list-title-input {
  text-align: center;
}

/* LISTS */

.selected_list {
  background-color: lightgray !important;
}

.ui.popup .ui.button {
  display: block;
  width: inherit;
}

.ui.dropdown .menu .item .icon.menu-icon {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.complete {
  background-color: #A1CF64;
  border-radius: .25em;
  opacity: .5;
  text-decoration: line-through;

}
