/* LAYOUT */
html, body{
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;

  background-color: #555;
  padding-left: 20px;
  padding-right: 20px;
  color: lightgrey;
}

main {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  bottom: 0;

  width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

div.main-content {
  height: 100%;
  width: 100%;
}

#seg-left {
  overflow-y: auto;
}

h1#logo {
  font-size: 1.5em;
}

.no-margin {
  margin: 0 !important;
}

.full-height {
  height: 100% !important;
}

.full-height-min {
  min-height: 100% !important;
}

.full-width {
  width: 100%;
}

.autoscroll {
  overflow: auto;
}


#col-left {
  width: 35% !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#col-right {
  width: 65% !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon.square {
    border-radius: .5em;
}

/* TASKS */

#task-list-title-input {
  text-align: center;
}

.task-info {
  display: inline-block;
  line-height: 12px;
}

.task-title {
  font-weight: 400;
  line-height: initial;
}

.task-deadline {
  font-style: italic;
  font-size: 0.6em;
}

.item_task {
  /* prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* LISTS */

.selected_list, .selected_filter {
  background-color: lightgray !important;
}

.ui.popup .ui.button {
  display: block;
  width: inherit;
}

.ui.dropdown .menu .item .icon.menu-icon {
  margin-right: 0;
}

.hidden {
  visibility: hidden;
}

.complete {
  background-color: #A1CF64;
  border-radius: .25em;
  opacity: .5;
  /*text-decoration: line-through;*/
}

.ui.popup .ui.button.save-deadline {
  display: inline-block;
}

.ui.popup {
  text-align: right;
}

.date {
  margin-right: 1em;
}

.ui.popup .ui.button.save {
  display: inline-block;
}

.date {
  margin-right: 1em;
}

.ui.popup .ui.button.save {
  display: inline-block;
}

.ui.popup {
  text-align: right;
}

.date {
  margin-right: 1em;
}

.ui.popup .ui.button.save {
  display: inline-block;
}

.ui.popup {
  text-align: right;
}

.date {
  margin-right: 1em;
}
